<div class="panel panel-default movie-info affix">
	<div class="panel-body" style="position: relative; font-size: 13px;">
		<h2 class="text-uppercase"> {{selectedItem.name}}</h2>
		<ul class="list-inline">
			<li ng-repeat-start="(id, genre) in selectedItem.genre" ng-show="id" role="separator">|</li>
			<li ng-repeat-end>{{genre}}</li>
		</ul>
		<table class="table table-borderless">
			<tr>
				<th ng-show="selectedItem.imdbRating" class="text-uppercase">IMDB</th>
				<th ng-show="selectedItem.year" class="text-uppercase">Year</th>
				<th ng-show="selectedItem.director" class="text-uppercase">Director</th>
			</tr>
			<tr class="sidebar-values">
				<td ng-if="selectedItem.imdbRating">
					{{selectedItem.imdbRating}}
				</td>
				<td ng-if="selectedItem.year">{{selectedItem.year}}</td>
				<td ng-if="selectedItem.director">
					{{selectedItem.director.join(', ')}}
				</td>
			</tr>
		</table>

		<h3 class="text-uppercase">Popularity</h3>
		<p>{{selected.sort.match("popularities") ? selectedItem.popularities[selected.sort.split(".")[1]] : selectedItem[selected.sort]}}</p>
		
		<h3 class="text-uppercase" ng-if="selectedItem.cast">Lead actors</h3>
		<p>{{selectedItem.cast.join(', ')}}</p>
		<h3 class="text-uppercase" ng-if="selectedItem.description">Summary</h3>
		<p>{{selectedItem.description}}</p>


		<table class="table table-borderless">
			<tr><td ng-show="selectedItem.uploads || selectedItem.episodes">
				<select ng-model="selected.video" ng-options="item as getVidName(item) for item in (selectedItem.uploads || selectedItem.episodes)"></select>
			</td></tr>
		</table>

		<div class='streams-holder'>
			<h3 class="text-uppercase" ng-if="handle.candidates">Streams</h3>
			<table class="table table-borderless streams-table" ng-repeat="stream in handle.candidates">
				<tr>

					<td>
						<!-- stream name - usually the add-on name -->
						<div>{{streamName(stream)}}</div>

						<!-- stream title ; if it's pay-per-watch, then this will contain the price -->
						<div>{{stream.title}}</div>

						<!-- if it's a free stream, subscription stream, etc. -->
						<div ng-if="stream.hasOwnProperty('isSubscription') || stream.hasOwnProperty('isFree')">{{stream.isSubscription ? 'subscription' : (stream.isFree ? 'free' : '')}}</div>

						<!-- tags: like sd, hd, low, 1080p, 4k; could contain source too, like netflix, hulu -->
						<div class='tags streams-tags'>Tags: {{stream.tag.join(", ")}}</div>

						<!-- various type sof links to the stream; video link, external link, youtube link, bittorrent link -->
						<div class="link" ng-show="stream.url"><a target="_blank" ng-href="{{stream.url}}">video link to {{stream.url.split("/")[2]}}</a></div>

						<div class="link" ng-show="stream.externalUrl"><a target="_blank" ng-href="{{stream.externalUrl}}">external link to {{stream.externalUrl.split("/")[2]}}</a></div>

						<div class="link" ng-show="stream.yt_id"><a target="_blank" ng-href="http://youtube.com/watch?v={{stream.yt_id}}">link to YouTube</a></div>

						<div class="link" ng-show="stream.infoHash"><a target="_blank" ng-href="magnet:?xt=urn:btih:{{stream.infoHash}}">magnet to {{stream.infoHash}} {{stream.hasOwnProperty('mapIdx') ? ' / '+stream.mapIdx : ''}}</a></div>

					</td>

				</tr>

			</table>
		</div>

	</div>
</div>